.header{
    /* text-align: center;
    border:2px solid coral ;
    border-radius: 5px;
    background-color: sandybrown;
    color: darkcyan;
    margin-top: 10px;
    padding: 6px;
    width: 200px; */
}
/* .header1{text-align: center;} */